{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container" style="margin-top: 10px">
        <h1 class="display-4" style="text-align: center">Bienvenue sur Concerthub</h1>
        <h4 style="margin-top: 50px">Rechercher une ville ou un artiste</h4>
        <form action="{{ path('search_event') }}" method="GET">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Un évènement en particulier ?</span>
                </div>
                <input name="city" type="text" class="form-control" placeholder="Ville">
                <input name="date1" type="text" class="form-control" placeholder="Date 1">
                <input name="date2" type="text" class="form-control" placeholder="Date 2">
                <input name="artist" type="text" class="form-control" placeholder="Artiste">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
        </br>
        </br>
        {% if path(app.request.attributes.get('_route')) == '/' %}
            <h5>Concerts prévus pour les 3 prochains mois</h5>
        {% else %}
            <h5>Résultats de la recherche</h5>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Artistes</th>
                <th scope="col">Date</th>
                <th scope="col">Ville</th>
            </tr>
            </thead>
            <tbody>
            {% if concerts|length > 0 %}
                {% for concert in concerts %}
                    <tr>
                        <th scope="row">{{ concert.artist }}</th>
                        <td>{{ concert.date }}</td>
                        <td>{{ concert.city }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Aucun concert</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
