{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Administration{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container" style="margin-top: 10px">
        <h1 class="display-4" style="text-align: center">Administration</h1>

        <h2>Liste des concerts</h2>
        {% if concerts is empty %}
            <p>Aucun concert renseigné.</p>
        {% else %}
            <ul>
                {% for concert in concerts %}
                    <li>
                        {{ concert.date|date('d/m/Y') }} - {{ concert.artist.name }} - {{ concert.city.name }}
                        <a class="btn btn-success btn-sm" href="{{ path('admin_edit_event', {'id': concert.id}) }}">Modifier</a>
                        <a class="btn btn-danger btn-sm" href="{{ path('admin_delete_event', {'id': concert.id}) }}"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce concert ?')">Supprimer</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Ajouter un concert</h2>
        <form action="{{ path('admin_add_event') }}" method="POST">
            <label for="date">Date:</label>
            <input type="text" name="date" id="date" placeholder="jj/mm/aaaa" required>
            <label for="city">Ville:</label>
            <select name="city" id="city" required>
                {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
            <label for="artist">Artiste:</label>
            <select name="artist" id="artist" required>
                {% for artist in artists %}
                    <option value="{{ artist.id }}">{{ artist.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>

        <h2>Ajouter un artiste</h2>
        <form action="{{ path('admin_add_artist') }}" method="POST">
            <label for="artist">Nom:</label>
            <input type="text" name="artist" id="artist" placeholder="Nom" required>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>

        <h2>Ajouter une ville</h2>
        <form action="{{ path('admin_add_city') }}" method="POST">
            <label for="city">Nom:</label>
            <input type="text" name="city" id="city" placeholder="Nom" required>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>

    </div>
{% endblock %}