{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Edition concert{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container" style="margin-top: 10px">
        <h1 class="display-4" style="text-align: center">Editer un concert</h1>

        <h2 style="margin-top: 50px">Modifier le concert de {{ concertToEdit.artist.name }} - {{ concertToEdit.city.name }} du {{ concertToEdit.date|date('d/m/Y') }}</h2>
        <form action="{{ path('admin_update_event', {'id': concertToEdit.id}) }}" method="POST" style="margin-top: 25px">
            <label for="date">Date:</label>
            <input type="text" name="date" id="date" value="{{ concertToEdit.date|date('d/m/Y') }}" required>
            <label for="city">Ville:</label>
            <select name="city" id="city" required>
                {% for city in cities %}
                    <option value="{{ city.id }}"
                            {% if city.id == concertToEdit.city.id %}selected{% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
            <label for="artist">Artiste:</label>
            <select name="artist" id="artist" required>
                {% for artist in artists %}
                    <option value="{{ artist.id }}"
                            {% if artist.id == concertToEdit.artist.id %}selected{% endif %}>{{ artist.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
{% endblock %}