{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Connexion{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container" style="margin-top: 50px">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center">Connexion</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form method="post" action="{{ path('login') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <div class="text-center" style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
