{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}S'inscrire{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container" style="margin-top: 50px">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">S'enregistrer</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
