<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% set title = 'Concerthub - ' %}
    <title>{% block title %}{{ title }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}

</body>
</html>
