<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 30px; margin-right: 30px">
    <a class="navbar-brand" href={{path("home")}}>Concerthub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{path("home")}}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin") }}">Administration</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a style="margin-left: 1100px" class="nav-link" href="{{ path('logout') }}">{{ app.user.email }} | Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path("login")}}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path("register")}}">S'inscrire</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>